output "DP-1" {
    mode "2560x1440@165" // Set resolution and refresh rate
    position x=0 y=1440
    scale 1 // No scaling (use 2 for HiDPI)
}

output "DP-2" {
    mode "2560x1440@165" // Set resolution and refresh rate
    position x=0 y=0
    scale 1 // No scaling (use 2 for HiDPI)
}


window-rule {
    match app-id="spotify"
    default-column-width { fixed 1132; }
    default-window-height { fixed 793; }
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    default-column-width { fixed 968; }
    default-window-height { fixed 633; }
}