name: Flake Check

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - flake-lock-update

jobs:
  flake-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run flake check
        run: |
          nix flake check --print-build-logs --show-trace

      - name: Show flake info
        if: success()
        run: |
          nix flake show
          nix flake metadata
