name: Home Manager Build Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-home:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build Home Manager default profile
        run: |
          nix build .#homeConfigurations.default.activationPackage \
            --print-build-logs \
            --show-trace

      - name: Check derivation info
        if: success()
        run: |
          nix path-info .#homeConfigurations.default.activationPackage
