name: Home Manager Darwin Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - flake-lock-update
    paths:
      - 'home/shared/**'
      - 'home/themes/**'
      - 'home/programs/**'
      - 'home/scripts/**'
      - 'home/wm/aerospace/**'
      - 'flake.nix'
      - 'flake.lock'
  pull_request:
    branches:
      - main
      - flake-lock-update
    paths:
      - 'home/shared/**'
      - 'home/themes/**'
      - 'home/programs/**'
      - 'home/scripts/**'
      - 'home/wm/aerospace/**'
      - 'flake.nix'
      - 'flake.lock'

jobs:
  build-home-darwin:
    name: build-home-${{ matrix.profile }}
    runs-on: macos-latest
    strategy:
      matrix:
        profile: [default-darwin, aerospace]
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: asthenia
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          extraPullNames: nix-community

      - name: Build Home Manager profile
        run: |
          nix build .#homeConfigurations.${{ matrix.profile }}.activationPackage \
            --print-build-logs \
            --show-trace

      - name: Push to Cachix
        if: success()
        run: |
          cachix push asthenia ./result

      - name: Check derivation info
        if: success()
        run: |
          nix path-info .#homeConfigurations.${{ matrix.profile }}.activationPackage
